
@{
    ViewData["Title"] = "NewSummary";
}

<h1>Your summary has been generated.</h1>

<br><br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Dino'sParking</h5>
      <ul class="list-group">
      <li class="list-group-item">Ticket#</li>
      <li class="list-group-item">Time In:</li>
      <li class="list-group-item">Time Out:</li>
      <li class="list-group-item">FEE</li>
      <li class="list-group-item text-muted">
          Parking Fee: 10 RON (1st hour) +5 RON (following hours)
      </li>
    </ul>
  </div>
</div>

<br><br>

