@model DinosParking.Models.Ticket

@{
    ViewData["Title"] = "Scan";
}

<h1>Scan Parking Ticket</h1>
<p></p>

<br><br>

@using (Html.BeginForm("ScanTicket", "Tickets", FormMethod.Post))
{
    <!--<div class="form-group">
    <label for="inputBarcode">Barcode</label>
    <input type="text" class="form-control" id="inputBarcode" placeholder="Enter ticket barcode">
    <small id="ticketHelp" class="form-text text-muted">Check your parking ticket barcode.</small>
    </div>
    <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("ScanTicket","Tickets")'">Scan</button>-->
    @Html.TextBoxFor(m => m.BarCode) 
    <input type="submit" value="Scan"/>
}

<br><br>

