@{
    ViewData["Title"] = "Scan";
}

<h1>Scan Parking Ticket</h1>
<p>Please proceed by providing the barcode generated on your parking ticket.</p>

<br><br>

<form asp-controller="Tickets" asp-action="ScanTicket">
    <div class="form-group">
    <label for="inputBarcode">Barcode</label>
    <input type="text" class="form-control" name="inputBarcode"/>
    </div>
    <button type="submit" class="btn btn-primary">Scan ticket</button>
</form>

<br><br>

<p>Have you lost your ticket or need any other help?</p>
<p>Call us at 48901289057431 or seek for one of our colleagues at our local parking center.</p><br>

