@{
    ViewData["Title"] = "Scan";
}

<h1>Scan Parking Ticket</h1>
<p></p>

<br><br>

<form asp-controller="Tickets" asp-action="ScanTicket">
    <div class="form-group">
    <label for="inputBarcode">Barcode</label>
    <input type="text" class="form-control" name="inputBarcode"/>
    </div>
    <button type="submit" class="btn btn-primary">Scan ticket</button>
</form>

<br><br>

